SECRET_KEY = 
DEBUG = True
DOCKER_DEPLOY = no
ALLOWED_HOSTS =
DATABASE_NAME =
DATABASE_USER =
DATABASE_PASSWORD =
DATABASE_HOST =
DATABASE_PORT = 5432
CELERY_BROKER_URL = sqs://
CELERY_RESULT_BACKEND = 
MEDIA_ROOT = /usr/src/app/media/
AWS_REGION = ap-south-1
S3_DATA_BUCKET_NAME = 
CLOUD_FRONT_DISTRIBUTION_URL = https://your-cloudfront-url/
