django
uuid
django-allauth
python-dotenv
djangorestframework
psycopg2
django-cors-headers
djangorestframework-simplejwt
typing
drf-spectacular
celery==5.2.7
django-celery
django-celery-results
django-celery-beat
flower
redis==4.5.4
boto3
pycurl
